.box1, .box2 {
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease; }

.box1 {
  width: 1000px;
  height: 500px;
  background: red; }

.box2 {
  width: 500px;
  height: 500px;
  background: red; }

.box1:hover,
.box2:hover {
  background: #cc0000; }
